* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 1400px;
  display: flex;
  flex-direction: column;
  background-color: #ecf7f3;
}

label {
  cursor: pointer;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
}

button {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1113px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.--header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 250px;
       column-gap: 250px;
}

.header-logo {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/logo.svg);
}

.header-logo_title {
  color: #2D2D2D;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
}

.nav-list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.nav-list_item {
  position: relative;
  transition: all 0.3s linear;
}
.nav-list_item:hover {
  transform: scale(1.1);
}
.nav-list_item:hover:nth-child(1)::after {
  content: "";
  width: 21px;
  border: 1.5px solid #FB9B69;
  position: absolute;
  bottom: -4px;
  left: 46px;
  transition: all 0.3s linear;
}
.nav-list_item:hover:nth-child(2)::after {
  content: "";
  width: 21px;
  border: 1.5px solid #FB9B69;
  position: absolute;
  bottom: -4px;
  left: 13px;
}
.nav-list_item:hover:nth-child(3)::after {
  content: "";
  width: 21px;
  border: 1.5px solid #FB9B69;
  position: absolute;
  bottom: -4px;
  left: 7px;
}
.nav-list_item:hover:nth-child(4)::after {
  content: "";
  width: 21px;
  border: 1.5px solid #FB9B69;
  position: absolute;
  bottom: -4px;
  left: 7px;
}

.nav-list_item a {
  color: #4A4A4A;
  font-family: Poppins;
  font-size: 16px;
}

.nav-button {
  padding: 9px 23px;
  cursor: pointer;
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
}

.--button-gren {
  border: none;
  border-radius: 20px;
  background: #48B774;
  transition: all 0.3s linear;
}
.--button-gren:hover {
  background: #53d185;
  transition: all 0.3s linear;
}

.card {
  margin-top: 84px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 78px;
       column-gap: 78px;
  justify-content: space-between;
}

.body-card {
  padding-top: 36px;
  width: 597px;
  display: flex;
  flex-direction: column;
}

.card-title_first {
  margin-bottom: 22px;
}

.title {
  color: #2D2D2D;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}

.span-orang {
  color: #FF8345;
}

.card-desc {
  width: 444px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.desc {
  color: #7C7C7C;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.card-button {
  margin-bottom: 50px;
}

.card_button {
  height: 46px;
  padding: 8px 22px;
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-input_search {
  width: 597px;
  height: 62px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 60px;
  position: relative;
  border: none;
  border-radius: 100px;
  background: #FFF;
  outline: none;
  box-shadow: 0px 20px 30px 0px rgba(222, 222, 222, 0.25);
}
.card-input_search::-moz-placeholder {
  color: #A1A1A1;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
.card-input_search::placeholder {
  color: #A1A1A1;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.search {
  display: flex;
  align-items: center;
  width: 597px;
  margin-bottom: 30px;
  position: relative;
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #48B774;
  border: none;
  width: 55px;
  height: 55px;
  stroke: white;
  transition: all 0.3s linear;
  cursor: pointer;
}
.search_button.--error {
  cursor: not-allowed;
}
.search_button:hover {
  background-color: #53d286;
  transition: all 0.3s linear;
}
.search_button:hover .search-svg {
  stroke: #7C7C7C;
  transition: all 0.3s linear;
}

.users_img {
  position: relative;
  display: flex;
}

.img {
  position: absolute;
  width: 38px;
  height: 38px;
}

.--img3 {
  top: 0;
  left: 44px;
}

.--img2 {
  top: 0;
  left: 22px;
}

.--img1 {
  top: 0;
  left: 0;
}

.--plus {
  top: 0;
  left: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF8345;
  border: 3px solid #FFF;
  border-radius: 50%;
}

.users-desc {
  padding-top: 8px;
  margin-left: 113px;
}

.reg-user {
  color: #707070;
  font-family: Roboto;
  font-size: 16px;
}

.pain-card {
  width: 450px;
}

.circle {
  position: relative;
  width: 450px;
  height: 450px;
  border: 2px solid #E8E8E8;
  border-radius: 450px;
}

.flag-img {
  border-radius: 50%;
  border: 10px solid #fff;
}

.flag {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  offset-path: path("M77.5 56.5L61 72.5L54.5 80L50 85.5L45.5 91L42.5 95.5L39.5 99.5L36 104.5L29 117L23.5 127L20 135.5L16 145L13 152.5L11 158L9 165.5L7.5 171.5L6.5 176L5 182L4 189L2 201.5L1.5 209L1 217V224.5V233.5L1.5 239.5L2 246.5L3.5 259L5.5 270L8.5 282.5L12 294.5L16 306L21.5 318.5L27.5 331L34 342L43 355.5L54 369.5L60.5 377L67 383.5L75.5 392L86.5 401L101 411.5L114.5 420L122.5 424.5L128 427L137.5 431.5L148 435.5L157 438.5L171 442.5L188.5 446L204.5 448L217.5 449H230.5L245.5 448L262.5 446L278.5 442.5L296.5 437.5L317 429.5L335 420L351.5 410L369 396.5L376 390.5L388 378.5L401 363.5L409 353L417.5 339.5L423.5 328.5L430 316L433.5 307L438.5 293L442.5 278L445.5 263.5L447.5 249.5L448.5 238.5L449 231V217.5L448.5 207.5L446 187L444 177.5L442.5 170L434.5 145.5L429 132L424.5 123L419.5 113.5L413.5 104L407.5 95L403 89L398 82.5L391.5 75L379 62.5L369 53.5L357 44L346 36.5L336 30.5L328.5 26.5L322 23.5L311.5 19L299.5 14L291.5 11.5L285 9.5L275.5 7L268.5 5.5L260.5 4L253.5 3L239.5 1.5L233 1H228.5H223.5H218L213 1.5L196 3L179.5 5.5L165.5 9L149.5 14L132 21L112 31.5L93 44L77.5 56.5Z");
  motion-path: path("M77.5 56.5L61 72.5L54.5 80L50 85.5L45.5 91L42.5 95.5L39.5 99.5L36 104.5L29 117L23.5 127L20 135.5L16 145L13 152.5L11 158L9 165.5L7.5 171.5L6.5 176L5 182L4 189L2 201.5L1.5 209L1 217V224.5V233.5L1.5 239.5L2 246.5L3.5 259L5.5 270L8.5 282.5L12 294.5L16 306L21.5 318.5L27.5 331L34 342L43 355.5L54 369.5L60.5 377L67 383.5L75.5 392L86.5 401L101 411.5L114.5 420L122.5 424.5L128 427L137.5 431.5L148 435.5L157 438.5L171 442.5L188.5 446L204.5 448L217.5 449H230.5L245.5 448L262.5 446L278.5 442.5L296.5 437.5L317 429.5L335 420L351.5 410L369 396.5L376 390.5L388 378.5L401 363.5L409 353L417.5 339.5L423.5 328.5L430 316L433.5 307L438.5 293L442.5 278L445.5 263.5L447.5 249.5L448.5 238.5L449 231V217.5L448.5 207.5L446 187L444 177.5L442.5 170L434.5 145.5L429 132L424.5 123L419.5 113.5L413.5 104L407.5 95L403 89L398 82.5L391.5 75L379 62.5L369 53.5L357 44L346 36.5L336 30.5L328.5 26.5L322 23.5L311.5 19L299.5 14L291.5 11.5L285 9.5L275.5 7L268.5 5.5L260.5 4L253.5 3L239.5 1.5L233 1H228.5H223.5H218L213 1.5L196 3L179.5 5.5L165.5 9L149.5 14L132 21L112 31.5L93 44L77.5 56.5Z");
  animation: fla 10s linear infinite;
  offset-rotate: 1turn;
}

@keyframes fla {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
.flag2 {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  top: 0;
  left: 20px;
}

.flag3 {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  bottom: -180px;
  right: 5px;
}

.flag4 {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  top: -140px;
  left: 332px;
}

.flag5 {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  top: 50px;
  left: 410px;
}

.circle-green {
  position: relative;
  top: -35%;
  left: 19%;
  width: 280px;
  height: 280px;
  border-radius: 280px;
  background: #48B774;
}

.photo-content {
  position: absolute;
  top: -30%;
  right: -100%;
  width: 836px;
}/*# sourceMappingURL=main.css.map */